@use "../var/colors" as *;
@use "../var/mixins" as *;

.feedback{
    padding: 70px 0 92px;

    @include xsm{
        padding: 35px 0 45px;
    }

    h3{
        font-weight: 700;
        font-size: 48px;
        line-height: 110.8%;
        text-align: center;
        color: $dark-blue;
        margin-bottom: 64px;

        @include xsm{
            font-size: 30px;
            margin-bottom: 30px;
        }

        span{
            font-weight: 300;
            background: url('../images/decorations/feedback-header-line.png');
            background-repeat: no-repeat;
            background-position: 98% 90%;

            @include xsm{
                background: none;
            }
        }
    }

    .feedback-wrapper{
        margin: 0 auto;
        width: 75%;

        @include md{
            width: 100%;
        }

        .comments-slider{
            position: relative;
            overflow: hidden;
            padding: 10px 10px;

            .comments-wrapper{
                display: flex;

                .feedback-box{
                    margin: 0 auto;
                    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
                    width: 46%;
                    border-radius: 25px;
                    padding: 24px 35px 39px 29px;

                    @include md{
                        width: 50%;
                    }

                    @include xsm{
                        padding: 15px;
                    }
                    
                    .feedback-text{
                        padding-top: 82px;
                        background: url('../images/icon-images/feedback.svg');
                        background-repeat: no-repeat;

                        @include lg{
                            font-size: 13px;
                            background-size: 40px 40px;
                            padding-top: 55px;
                        }
                    }

                    .feedback-author{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 159.3%;
                        color: $dark-blue;
                        margin-top: 10px;
                        padding-left: 20px;
                        background: url('../images/decorations/feedback-author-line.png');
                        background-repeat: no-repeat;
                        background-position: 0 50%;

                        @include lg{
                            font-size: 13px;
                        }
                    }
                }
            }

            .slider-pagination{
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;
            }

            .swiper-pagination-bullet{
                background-color: $base;
                width: 12px;
                height: 12px;

                @include xsm{
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
}