@use "../var/colors" as *;
@use "../var/mixins" as *;

.mainbg{
    overflow: hidden;
    position: absolute;
    right: -50px;
    top: 0;
    width: 55%;
    
    @include xl{
        display: none;
    }
}

.header{
    padding: 27px 0;

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__items{
            display: flex;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.01em;

            @include md{
                color: #fff;
            }

            .active{
                color: $dark-blue;
                background: url('../images/decorations/header-line.png');
                background-repeat: no-repeat;
                background-position: 0 100%;

                @include md{
                    color: #fff;
                    background-position: 100% 100%;
                }
            }

            &__item:not(:last-child){
                margin-right: 25px;

                @include md{
                    margin-right: 0;
                }
            }
        }

        &__links img{

            @include lm{
                width: 50px;
                height: 50px;
            }
            
        }

        &__logo{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .menu-btn {
            width: 30px;
            height: 30px;
            position: relative;
            z-index:2;
            overflow: hidden;
            cursor: pointer;
        }

        .menu-btn span {
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $dark-blue;
            transition: all 0.5s;
        }
        .menu-btn span:nth-of-type(2) {
            top: calc(50% - 9px);
        }
        .menu-btn span:nth-of-type(3) {
            top: calc(50% + 9px);
        }

        .menu-btn{
            display: none;
            margin-right: auto;
        }

        @include md{
            .menu-btn{
                display: block;
            }

            .menu {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 40px;
                background: $base;
                transform: translateX(-500%);
                transition: transform 0.5s;
                z-index: 1;

                .header__row__items{
                    flex-direction: column;
                    align-items: end;
                }
            }
            .menu.active {
                transform: translateX(0);
            }

            .menu-btn.active span{
                background-color: #fff;
            }
            
            .menu-btn.active span:nth-of-type(1) {
                display: none;
              }
              .menu-btn.active span:nth-of-type(2) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(45deg);  
              }
              .menu-btn.active span:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, 0%) rotate(-45deg); 
            }
        }
    }
}